.tooltip-wrapper {
    display: inline-block;
  }
  
  .tooltip {
    position: relative;
    margin: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;

  }

 
  
  /* SOLO el cartel */
  .tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    background: var(--tooltip-color, rgb(0, 255, 17));
    color: var(--tooltip-text-color, #fff);
    width: var(--tooltip-width, 300px); /* flexible */
   
    height: auto;
    min-height: 30px;
   
    font-size: var(--tooltip-font-size, 13px);
    font-family: var(--tooltip-font-family, inherit);
    font-weight: 300;
    bottom: calc(100% + 12px);
    left: 100%;
    transform: scale(0.95) translateX(50%) translateY(10px);
    padding: 8px 12px;
    border-radius: 8px;
    letter-spacing: 1px;
    text-align: left;
    line-height: 1.4;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: var(--box-shadow);
    pointer-events: none;
    
  }
  
  /* ACTIVACIÓN DEL CARTEL */
  .tooltip:hover::after {
    opacity: 1;
    visibility: visible;
    transform: scale(1) translateX(-30%) translateY(0);
  }
  
  @keyframes shake {
    0% {
      transform: rotate(2deg);
    }
    50% {
      transform: rotate(-3deg);
    }
    70% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  #anim:hover {
    animation: shake 800ms ease-in-out forwards;
  }