:root {
  /* 🗓️ Colores del calendario */
  --calendario-fondo-no-disponible: #EE4116;
  --calendario-color-no-disponible: #B0B0B0; /* Ajustado para mejor contraste */

  /* 🎯 Colores principales */
  --color-primario: #FBC02D;  /* Amarillo dorado, más equilibrado */
  --color-secundario: #5C5C5C; /* Gris oscuro, mayor contraste */

  /* ✅ Estados */
  --color-exito: #28A745; /* Verde para éxito */
  --color-advertencia: #FFC107; /* Amarillo para alertas */
  --color-error: #DC3545; /* Rojo para errores */
  --color-azul: #1976D2;  /* Azul corporativo */

  /* 🎭 Tonos de texto */
  --texto-primario: #212121; /* Negro suave */
  --texto-secundario: #616161; /* Gris medio para contraste */
  --texto-inverso: #ffffff; /* Blanco */
  --background-color:#f2f2f2
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  overflow-y: scroll;
  background-color: #f2f2f2 !important;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
  scrollbar-width: 0;
}

main {
  min-height: 89vh;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: 0; /* Firefox */
}
/* Animación de "latido" */
@keyframes pulse {
  0% {
    transform: scale(1); /* Tamaño original */
  }
  50% {
    transform: scale(1.2); /* Aumenta el tamaño */
  }
  100% {
    transform: scale(1); /* Vuelve al tamaño original */
  }
}

.pulse {
  animation: pulse 2s infinite; /* Aplica la animación */
}